* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.numbersContainer {
    height: 100%;
}

.number {
    background-color: black;
    display: inline-block;
    width: 2%;
    position: absolute;
    top: 0;
}